<html>
<head>
  <title>Arknoid - Elm</title>
  <script src="game.js"></script>
  <style>
    body {
      background-color: black;
      color: white;
    }

    .small-header {
      font-size: 20px;
    }

    .centered {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .separator {
      margin: 0 6px;
    }
  </style>
</head>
<body>
  <div class="centered">
    <div id="elm-container"></div>
  </div>
  <script type="text/javascript">
    var element = document.getElementById('elm-container');
    var app = Elm.Game.embed(element);
  </script>
</body>
</html>
